<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gnaw">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gnaw">
        <activity
            android:name=".userGuide"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name=".notifService"
            android:exported="false"></service>
        <service
            android:name=".updateRatingService"
            android:exported="false"></service>

        <receiver
            android:name=".notifBroadReciever"
            android:enabled="true"
            android:exported="false"></receiver>

        <activity
            android:name=".selectUser"
            android:exported="false" />
        <activity
            android:name=".createAccount"
            android:exported="false" />
        <activity
            android:name=".newRecipe"
            android:exported="false" />
        <activity
            android:name=".currentRecipe"
            android:exported="false" />
        <activity
            android:name=".RecipeSelect"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>